#
# EditorConfig configuration.
#
# https://spec.editorconfig.org#supported-pairs
#

root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = off

[*.go]
indent_style = tab

[*.{md,nix,yaml,yml}]
indent_style = space
indent_size = 2

[*.rst]
indent_style = space
indent_size = 3
