profiles:
  minio:
    storage_provider:
      type: s3
      options:
        base_path: dev
        endpoint_url: "http://minio:9000"
        region_name: us-east-1
    credentials_provider:
      type: S3Credentials
      options:
        access_key: minioadmin
        secret_key: minioadmin
  ais:
    storage_provider:
      type: s3
      options:
        base_path: dev
        endpoint_url: "http://ais:8080/s3"
        region_name: us-east-1
    credentials_provider:
      type: S3Credentials
      options:
        access_key: minioadmin
        secret_key: minioadmin
