#
# AWS CLI + SDK shared credentials.
#
# https://docs.aws.amazon.com/sdkref/latest/guide/file-format.html
#

[gcs-hmac]
aws_access_key_id=${GCS_HMAC_ACCESS_KEY_ID}
aws_secret_access_key=${GCS_HMAC_SECRET_ACCESS_KEY}

[s8k]
aws_access_key_id=${S8K_ACCESS_KEY_ID}
aws_secret_access_key=${S8K_SECRET_ACCESS_KEY}
